@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NanumSquare";
  src: url("../../public/fonts/NanumSquare_acL.ttf") format("truetype");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "NanumSquare";
  src: url("../../public/fonts/NanumSquare_acR.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquare";
  src: url("../../public/fonts/NanumSquare_acB.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "NanumSquare";
  src: url("../../public/fonts/NanumSquare_acEB.ttf") format("truetype");
  font-weight: 900;
  font-style: extrabold;
}

@layer components {
  .bottom-nav {
    @apply flex border-t border-slate-200 bg-white pt-1 px-2 fixed -bottom-0.5 left-0 w-full;
  }

  .bottom-nav-list {
    @apply flex w-full;
  }

  .bottom-nav-item {
    @apply flex-1 justify-around;
  }

  .bottom-nav-button {
    @apply flex flex-col items-center justify-center w-full;
  }

  .bottom-nav-span {
    @apply text-[0.6rem] text-[#777777] text-center;
  }

  .title {
    @apply text-xl text-[#222222] font-extrabold mt-10;
  }

  .description {
    @apply text-xs text-[#666666] pb-1;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .gradient-background {
    @apply bg-white;
    background: linear-gradient(
      270deg,
      white 28.09%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .scroll-item::-webkit-scrollbar {
    -ms-overflow-style: none; /* IE와 Edge에서 스크롤바 숨김 */
    scrollbar-width: none;
    display: none; /* Chrome, Safari, Edge, Opera에서 스크롤바 숨김 */
  }

  .nav-link {
    @apply text-white whitespace-nowrap px-3;
  }
}
html,
body {
  font-family: "NanumSquare", sans-serif;
}
